<div *ngIf="storageService.isStorageSelected;then main_view; else storage_select">here is ignored</div>

<ng-template #storage_select>
  <div class="container">
    <h1 class="title">
      {{ 'PAGES.HOME.TITLE' | translate }}
    </h1>
    <button class="btn waves-effect waves-light" (click)="sendEvent('set:storage')">{{ 'PAGES.HOME.STORAGE_SELECT_BUTTON' | translate }}</button>
  </div>
</ng-template>

<ng-template #main_view>
  <nav>
      <div class="nav-wrapper">
        <a class="brand-logo center">ddd!</a>
      </div>
  </nav>
  <div *ngIf="storageService.isStorageLoaded">
    Number of photo = {{storageService.info.photosNbr}}<br>
    Directory = {{storageService.info.dir}}<br>
    <div class="row">
      <div *ngFor="let photo of storageService.info.chunck">
        <div class="col s6 m4 l3">
          <div class="card">
            <div class="card-image">
              <img src="{{storageService.getPhotoPath(photo.n)}}">
            </div>
            <!--<div class="card-content">
              {{ storageService.getPhotoDate(photo.n) }}
              H = {{ photo.h }}<br>
              W = {{ photo.w }}<br>
              S = {{ photo.s }}<br>
            </div>-->
          </div>
        </div>
      </div>
    </div>
  </div>
  end of block
</ng-template>
