<div *ngIf="storageService.isStorageSelected;then main_view; else storage_select">here is ignored</div>

<ng-template #storage_select>
  <div class="container">
    <h1 class="title">
      {{ 'PAGES.HOME.TITLE' | translate }}
    </h1>
    <button class="btn waves-effect waves-light" (click)="sendEvent('set:storage')">{{ 'PAGES.HOME.STORAGE_SELECT_BUTTON' | translate }}</button>
  </div>
</ng-template>

<ng-template #main_view>
  <nav>
      <div class="nav-wrapper">
        <a class="brand-logo center">ddd!</a>
      </div>
  </nav>
  <div *ngIf="storageService.isStorageLoaded">
    Number of photo = {{storageService.info.photosNbr}}<br>
    Directory = {{storageService.info.dir}}<br>
    Date = {{ storageService.getPhotoDate(storageService.info.chunck[0].n) }}<br>
    H = {{ storageService.info.chunck[0].h }}<br>
    W = {{ storageService.info.chunck[0].w }}<br>
    S = {{ storageService.info.chunck[0].s }}<br>
    <img style="width:200px" src="{{storageService.info.dir + getPhotoPath(storageService.info.chunck[0].n)}}">
  </div>
  end of block
</ng-template>
