<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Photo Manager</title>
  </head>
  <body>
    <div id="storage"></div>
    <button onclick="openStorageSelection()">change storage folder</button>
    <div id="import"></div>
    <button onclick="openImportFolderSelection()">select import folder</button>
    <script>
      const electron = require('electron');
      const {ipcRenderer} = electron;
      const storageName = document.querySelector('#storage');
      const importName = document.querySelector('#import');

      ipcRenderer.on('storage:init', function(e, folder){
        storageName.innerHTML = folder;
      });
      ipcRenderer.on('import:init', function(e, folder){
        importName.innerHTML = "Import "+ folder + " in progress";
      });

      function openStorageSelection() {
        ipcRenderer.send('storage:set');
      }
      function openImportFolderSelection() {
        ipcRenderer.send('import:set');
      }

    </script>
  </body>
</html>
