<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Photo Manager</title>
    <link rel="stylesheet" href="../../dist/css/materialize.css">
  </head>
  <body class="custom3">
    <nav>
      <div class="nav-wrapper">
        <a class="brand-logo center">ddd!</a>
      </div>
    </nav>

    <div id="storage"></div>
    <button class="btn waves-effect waves-light" onclick="sendEvent('storage:set')">change storage folder</button>
    <div id="import"></div>
    <button class="btn waves-effect waves-light" onclick="sendEvent('import:set')">select import folder</button>
    <script>
      const electron = require('electron');
      const {ipcRenderer} = electron;
      const storageName = document.querySelector('#storage');
      const importName = document.querySelector('#import');

      ipcRenderer.on('storage:init', function(e, folder){
        storageName.innerHTML = folder;
      });
      ipcRenderer.on('import:init', function(e, folder){
        importName.innerHTML = "Import "+ folder + " in progress";
      });

      function sendEvent(event) {
        ipcRenderer.send(event);
      }

    </script>
  </body>
</html>
